*{
    color: white;
}

section{
    
    padding:10px 20px;
    margin: 0 30px;
    width: 120px;
    text-align: center;
   
  
  
   
    
}



section .value{
   
    font-size: 35px;
}

section .label{
    color: #FFD700;
    font-size: 25px;
}