*{
    color: white;
}

section{
    
    padding: 10px;
    margin: 0 10px;
    width: 80px;
  
   
    
}

section .value{
    padding-left: 15px;
    font-size: 40px;
}

section .label{
    color: #FFD700;
}